.cuadriculas {
    border: 2px salmon;
    border-radius: 5px;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(3, fr);
    gap: 10px;
    padding: 10px;
}

.box {
    border: 2px cornflowerblue;
    border-radius: 5px;
    background-color: rgb(122, 122, 87);
    padding: 1em;
    color: rgb(56, 31, 242);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    box-sizing: border-box; 
}

.nested {
    border: 2px sandybrown;
    border-radius: 5px;
    background-color: bisque;
    padding: 1em;
    box-sizing: border-box;
}

.box2, .box3, .box4, .box5 {
    border: 2px cadetblue;
    border-radius: 5px;
    background-color: rgb(122, 122, 87);
    padding: 1em;
    color: violet;
}